<section class="box-content wrapper">
    <h2>Invited talks</h2>
    <ul class="timeline">
        <li style="">
            <span class="" style="font-weight:bold;">From reads to enzymes: Exploring enzymatic potential in metagenomes with DNA Language Models</span>
            <a class="float-right">Feb 2025</a>
            <p>MetaSub International Consortium Meeting </p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Deciphering enzymatic potential in metagenomic reads through DNA language</span>
            <a class="float-right">Oct 2024</a>
            <p>Bio. Dept. Fall seminar series, Emory University, GA, USA</p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Learning the language of life through Language Models</span>
            <a class="float-right">Oct 2023</a>
            <p>ENIGMA seminar series, Rutgers University, NJ, USA</p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Exploring aggregation prone regions in human proteome: Insights from proteome-wide in silico analyses</span>
            <a class="float-right">Mar 2022</a>
            <p>ENIGMA seminar series, Rutgers University, NJ, USA<br>
            </p>
        </li>
    </ul>
        
</section>

<section class="box-content">
    <h2>Oral presentations</h2>
    <ul class="timeline">
        <li style="">
            <span class="" style="font-weight:bold;">Deciphering enzymatic potential in metagenomic reads through DNA language models</span>
            <a class="float-right">Mar 2025</a>
            <p>FMS4BIO25 workshop, AAAI Conference on Artificial Intelligence 2025, PA, USA</p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">From reads to enzymes: Exploring enzymatic potential in metagenomes with DNA Language Models</span>
            <a class="float-right">Jan 2025</a>
            <p>13th International Conference on Computational Advances in Bio and Medical Sciences, ICCABS 2025, GA, USA</p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Prediction and interpretation of Aggregation prone regions of proteins: Results from the case study of Human proteome</span>
            <a class="float-right">Jun 2019</a>
            <p>Indo-Sweden meeting, Stockholm, Sweden
                <br>
            </p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Computational analysis of aggregation prone regions in human proteome</span>
            <a class="float-right">Nov 2017</a>
            <p>1st Indo-Sweden Discussion Meeting on Protein Bioinformatics and Deep Learning, TN, India
                <br>
            </p>
        </li>
    </ul>
</section>
<section class="box-content">
    <h2>Poster presentations</h2>
    <ul class="timeline">
        <li style="">
            <span class="" style="font-weight:bold;">Deciphering enzymatic potential in metagenomic reads through DNA language models</span>
            <a class="float-right">Nov 2024</a>
            <p>CSHL Biological Data Science meeting at NY, USA </p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Learning the language of metagenomes to understand molecular function</span>
            <a class="float-right">Mar 2024</a>
            <p>MidSouth Computational Biology and Bioinformatics Society (MCBIOS), GA, USA</p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Deciphering enzymatic potential in metagenomic reads through DNA language models</span>
            <a class="float-right">Jan 2024</a>
            <p>A multi-hub conference on microbial ecology and evolution (MEEhubs2024), GA, USA</p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Effect of charged-residue mutation on the solubility of an aggregation prone region</span>
            <a class="float-right">Jun 2020</a>
            <p>24th International conference in computational molecular biology (RECOMB)</p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">ANuPP: a sequence-based tool for prediction of protein aggregation</span>
            <a class="float-right">Mar 2020</a>
            <p>5th IIT Madras -
                Tokyo Tech joint symposium on "Current trends in Bioinformatics: Big data analysis, machine learning and
                drug design" at IIT Madras, India
            <br>
            </p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Exploring the feature space for characterizing the amyloidogenicity of Aggregation Prone
                Regions</span>
            <a class="float-right">Sep 2018</a>
            <p>International Conference on Bioinformatics (InCoB) at JNU New Delhi, India</p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Co-location of Intrinsically Disordered and Aggregation Prone Regions in IDPs</span>
            <a class="float-right">Dec 2017</a>
            <p>"International Conference on Intrinsically Disordered Proteins: Forms, Functions and Diseases" at
                IISER Mohali, India
                <br>
            </p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Exploring the feature space for characterizing the Amyloidogenicity</span>
            <a class="float-right">Nov 2017</a>
            <p>4th IIT Madras -
                Tokyo Tech joint symposium on "Frontiers in Bioinformatics: Large Scale Data Analysis, Resources and
                Drug Design" at IIT Madras, India
                <br>
            </p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Understanding the strategies enforced to constrain Aggregation Prone Regions in human
                proteome</span>
            <a class="float-right">Mar 2017</a>
            <p>"Annual Symposium of the Indian Biophysical Society, 2017" at IISER Mohali, India
                <br>
            </p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Investigation of Aggregation Prone Regions in Human Proteome</span>
            <a class="float-right">Nov 2015</a>
            <p>3rd IIT Madras -
                Tokyo Tech joint symposium on "Algorithms and Applications of Bioinformatics" at IIT Madras, India
                <br>
            </p>
        </li>
    </ul>
</section>

<!--section class="box-content">
    <h2 >Invited talks</h2>
    <ul class="timeline">
        <li>
            <div class="experience" >
                <h3 class="collapsible">From reads to enzymes: Exploring enzymatic potential in metagenomes with DNA Language Models
                    <p class="float-right"><span style="color:white;">2023-present</span></p>
                </h3>
                <div class="collapsible-content">
                    <p>Details about the first publication, including authors, journal, and findings.</p>
                </div>
            </div>
            
        </li>
        <li>
            <div class="experience">
                <h3 class="collapsible">Postdoctoral Associate, Rutgers University, NJ, USA
                    <p class="float-right"><span style="color:white;">2022-2023</span></p>
                </h3>
                <div class="collapsible-content">
                    <p>Details about the second publication, including authors, journal, and findings.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="experience">
                <h3 class="collapsible">Project Associate, IIT Madras
                    <p class="float-right"><span style="color:white;">2021-2022</span></p>
                </h3>
                <div class="collapsible-content">
                    <p>Details about the second publication, including authors, journal, and findings.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="experience">
                <h3 class="collapsible">Software QA & QA Lead
                    <p class="float-right"><span style="color:white;">2010-2014</span></p>
                </h3>
                <div class="collapsible-content">
                    <p>Details about the second publication, including authors, journal, and findings.</p>
                </div>
            </div>
        </li>        
    </ul>
    <p style="text-align: justify;text-justify: inter-word;color:white;">Postdoctoral fellow interested in understanding the evolution and dynamics of protein molecules and their interactions that define life as it is. Over the years, I acquired several skills and expertise which include metagenomic function prediciton, protein bioinformatics and Language Model development.</p>
        
</section-->