<section class="box-content" style="width:100%">
    <h2>Summary</h2>
    <p style="text-align: justify;text-justify: inter-word;">10+ years of research experience, specializing in machine learning, protein function prediction, metagenomic annotation and protein aggregation. Strong publication record with multiple peer-reviewed journal articles and conference proceedings. Passionate about applying computational modeling and ML to understand molecular evolution and interactions shaping interspecies dynamics.
    </p>
    
</section>


<section class="box-content">
    <h2>Timeline</h2>
    <ul class="timeline">
        <li style="">
            <span class="" style="font-weight:bold;">Postdoctoral Fellow</span>
            <a class="float-right">2023-Present</a>
            <p>Emory University, GA, USA </p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Postdoctoral Associate</span>
            <a class="float-right">2022-2023</a>
            <p>Rutgers University, NJ, USA</p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">Project Associate, IIT Madras</span>
            <a class="float-right">2022</a>
            <p>Indian Institute of Technology Madras, India</p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">M.S. & Ph.D.  Computational Biology</span>
            <a class="float-right">2014-2022</a>
            <p>Indian Institute of Technology Madras, India <br>
            <i>Dissertation Title</i>: Sequence and structural studies of aggregation prone regions in proteins: Development of a prediction method and large-scale analysis</p>
        </li>
        <li style="background-color:rgb(245,245,245)">
            <span class="">Associate</span>
            <a class="float-right">2013-2014</a>
            <p>Cognizant Technology Solutions, India </p>
        </li>
        <li style="background-color:rgb(245,245,245)">
            <span class="">Programmar Analyst</span>
            <a class="float-right">2010-2013</a>
            <p>Cognizant Technology Solutions, India </p>
        </li>
        <li style="">
            <span class="" style="font-weight:bold;">B. Tech. Industrial Biotechnology</span>
            <a class="float-right">2006-2010</a>
            <p>Anna University, India <br>
            <i>Dissertation Title</i>: Cloning and expression of the synthetic insulin gene in Kluyveromyces lactis expression system</p>
        </li>
    </ul>
        
</section>

<!--section class="box-content">
    <h2>Experiences</h2>
    <ul class="timeline">
        <li>
            <div class="experience">
                <h3 class="collapsible">Postdoctoral Fellow, Emory Unveristy, GA, USA 
                    <p class="float-right"><span style="color:white;">2023-present</span></p>
                </h3>
                <div class="collapsible-content">
                    <p>Details about the first publication, including authors, journal, and findings.</p>
                </div>
            </div>
            
        </li>
        <li>
            <div class="experience">
                <h3 class="collapsible">Postdoctoral Associate, Rutgers University, NJ, USA
                    <p class="float-right"><span style="color:white;">2022-2023</span></p>
                </h3>
                <div class="collapsible-content">
                    <p>Details about the second publication, including authors, journal, and findings.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="experience">
                <h3 class="collapsible">Project Associate, IIT Madras
                    <p class="float-right"><span style="color:white;">2021-2022</span></p>
                </h3>
                <div class="collapsible-content">
                    <p>Details about the second publication, including authors, journal, and findings.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="experience">
                <h3 class="collapsible">Software QA & QA Lead
                    <p class="float-right"><span style="color:white;">2010-2014</span></p>
                </h3>
                <div class="collapsible-content">
                    <p>Details about the second publication, including authors, journal, and findings.</p>
                </div>
            </div>
        </li>        
    </ul>
        
</!--section-->

<section class="box-content">
    <h2>Research Projects</h2>
        <div class="project" >
            <h3 class="">Development of LMs for novel reference-free metagenomic annotation</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
        <div class="project" >
            <h3 class="">Assessment of protein function annotation on orphan protein set</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
        <div class="project" >
            <h3 class="">Review of current SOTA protein variant effect predictors</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
        <div class="project" >
            <h3 class="">Tracing evolution of metal-binding</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
        <div class="project" >
            <h3 class="">Siamese model</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
        <div class="project" >
            <h3 class=""></h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
        <div class="project" >
            <h3 class="">Incorporation of quarantine and lockdown regulations into SEIQR model to predict COVID-19 progression</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
       
        <div class="project" >
            <h3 class="">Systematic study of factors contributing to peptide aggregation through extensive MD simulations</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
        <div class="project" >
            <h3 class="">Development of ML and statistical models to predict protein aggregation</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
        <div class="project" >
            <h3 class="">Proteome-scale sequence & structural analysis of aggregation propensity</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
        
</section>

<section class="box-content">
    <h2>Database Devlopment Projects</h2>
        <div class="project" >
            <h3 class="">Development of curated databses of aggregating peptides and aggregation prone regions</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
        <div class="project" >
            <h3 class="">Development of curated databses of aggregating peptides and aggregation prone regions</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
        <div class="project" >
            <h3 class="">Development of curated databses of aggregating peptides and aggregation prone regions</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
</section>