<section class="box-content">
    <h2>Summary</h2>
    <p style="text-align: justify;text-justify: inter-word;">Postdoctoral fellow interested in understanding the evolution and dynamics of protein molecules and their interactions that define life as it is. Over the years, I acquired several skills and expertise which include metagenomic function prediciton, protein bioinformatics and Language Model development.</p>
    
</section>

<section class="box-content">
    <h2>Experiences</h2>
    <ul class="timeline">
        <li>
            <div class="experience">
                <h3 class="collapsible">Postdoctoral Fellow, Emory Unveristy, GA, USA 
                    <p class="float-right"><span style="color:white;">2023-present</span></p>
                </h3>
                <div class="collapsible-content">
                    <p>Details about the first publication, including authors, journal, and findings.</p>
                </div>
            </div>
            
        </li>
        <li>
            <div class="experience">
                <h3 class="collapsible">Postdoctoral Associate, Rutgers University, NJ, USA
                    <p class="float-right"><span style="color:white;">2022-2023</span></p>
                </h3>
                <div class="collapsible-content">
                    <p>Details about the second publication, including authors, journal, and findings.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="experience">
                <h3 class="collapsible">Project Associate, IIT Madras
                    <p class="float-right"><span style="color:white;">2021-2022</span></p>
                </h3>
                <div class="collapsible-content">
                    <p>Details about the second publication, including authors, journal, and findings.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="experience">
                <h3 class="collapsible">Software QA & QA Lead
                    <p class="float-right"><span style="color:white;">2010-2014</span></p>
                </h3>
                <div class="collapsible-content">
                    <p>Details about the second publication, including authors, journal, and findings.</p>
                </div>
            </div>
        </li>        
    </ul>
        
</section>
<section class="box-content">
    <h2>Education</h2>
    <ul class="timeline">
        <li>
            <a class="">Postdoctoral Fellow</a>
            <a class="float-right">2023-Present</a>
            <p>Emory University, GA, USA <br>
            <i>Projects</i>: </p>
        </li>
        <li>
            <a class="">Postdoctoral Associate</a>
            <a class="float-right">2022-2023</a>
            <p>Rutgers University, NJ, USA<br>
            <i>Projects</i>: </p>
        </li>
        <li>
            <a class="">Project Associate, IIT Madras</a>
            <a class="float-right">2021-2022</a>
            <p>Indian Institute of Technology Madras, India <br>
            <i>Projects</i>: </p>
        </li>
        <li>
            <a class="">M.S. & Ph.D.  Computational Biology</a>
            <a class="float-right">2014-2022</a>
            <p>Indian Institute of Technology Madras, India <br>
            <i>Dissertation Title</i>: Sequence and structural studies of aggregation prone regions in proteins: Development of a prediction method and large-scale analysis</p>
        </li>
        <li>
            <a class="">B. Tech. Industrial Biotechnology</a>
            <a class="float-right">2006-2010</a>
            <p>Anna University, India <br>
            <i>Dissertation Title</i>: Cloning and expression of the synthetic insulin gene in Kluyveromyces lactis expression system</p>
        </li>
    </ul>
        
</section>

<!-- Projects -->
<section class="box-content">
    <h2>Projects</h2>
        <div class="project" >
            <h3 class="">Project Title 1</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
        <div class="project" >
            <h3 class="">Project Title 2</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
        <div class="project" >
            <h3 class="">Project Title 2</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
        <div class="project" >
            <h3 class="">Proteome-wide analysis of Aggregation propensity</h3>
            <div class="project-panel">
                <p>Description of the project and key contributions.</p>
            </div>
        </div>
    
</section>