<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if page.nav_id == 'profile' %} active {% endif %}" aria-current="page" href="/">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page.nav_id == 'research' %} active {% endif %}" href="/projects/">Research</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page.nav_id == 'publications' %} active {% endif %}" href="/publications/">Publications</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page.nav_id == 'news' %} active {% endif %}" href="/news/">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page.nav_id == 'conferences' %} active {% endif %}" href="/conferences/">Talks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if page.nav_id == 'contact' %} active {% endif %}" href="/contact/">Contact me</a>
    </li>

</ul>
