<section class="box-content">
    <h2>News</h2>
    <ul class="timeline">
        <li>
            <span class="news-date">Jul 2026</span>
            <span><strong>Upcoming:</strong> I'll be giving a talk, &ldquo;Quantifying uncertainty in protein representations across models and tasks,&rdquo; at the CAMDA track, ISMB 2026.</span>
        </li>
        <li>
            <span class="news-date">2026</span>
            <span>Our work on quantifying uncertainty in protein representations (RNS) is published in <em>Nature Methods</em>.</span>
        </li>
        <li>
            <span class="news-date">2025</span>
            <span>Our REBEAN work, using DNA language models to annotate enzymes directly from metagenomic reads, is published in <em>Nucleic Acids Research</em>.</span>
        </li>
        <li>
            <span class="news-date">2025</span>
            <span>A protein pair-based assessment of <em>in silico</em> function prediction tools appears in <em>Bioinformatics</em>.</span>
        </li>
        <li>
            <span class="news-date">2025</span>
            <span>YAbS, The Antibody Society's antibody therapeutics database, is published in <em>mAbs</em>.</span>
        </li>
        <li>
            <span class="news-date">Mar 2025</span>
            <span>Oral presentation at the FMS4BIO25 workshop, AAAI Conference on Artificial Intelligence (travel grant).</span>
        </li>
        <li>
            <span class="news-date">Feb 2025</span>
            <span>Invited talk at the MetaSub International Consortium Meeting.</span>
        </li>
        <li>
            <span class="news-date">2024</span>
            <span>Our review, &ldquo;Variant Effect Prediction in the Age of Machine Learning,&rdquo; appears in <em>Cold Spring Harbor Perspectives in Biology</em>.</span>
        </li>
        <li>
            <span class="news-date">Nov 2024</span>
            <span>Poster at the CSHL Biological Data Science meeting, NY (travel grant).</span>
        </li>
    </ul>
</section>
