<aside class="skills-sidebar">
    <h2>Skillset</h2>
    <div class="">
        <h3 class="collapsible" style="background-color:indigo;">> Machine learning</h3>
        <div class="skillset collapsible-content" >

            <div class="skill">
                <h3>Langauge modelling</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>Graph Neural Networks</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>Contrastive learning</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>
            
            <div class="skill">
                <h3>Clustering</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>Self Organizing Maps</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>Non-linear Modelling</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>Linear Modelling</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>
        </div>

        <h3 class="collapsible" style="background-color:indigo;">> Molecular modelling tools</h3>
        <div class="skillset collapsible-content">
            <div class="skill">
                <h3>Gromacs</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>Modeller</h3>
                <div class="skill-bar">
                    <span style="width: 60%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>Autodock</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>Pymol</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>VMD</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>

            
        </div>

        <h3 class="collapsible" style="background-color:indigo;">> Progamming & Scripting</h3>
        <div class="skillset collapsible-content">
            <div class="skill">
                <h3>Python</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>Matlab</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>R</h3>
                <div class="skill-bar">
                    <span style="width: 40%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>C++</h3>
                <div class="skill-bar">
                    <span style="width: 60%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>Perl</h3>
                <div class="skill-bar">
                    <span style="width: 40%;"></span>
                </div>
            </div>
            <div class="skill">
                <h3>VB</h3>
                <div class="skill-bar">
                    <span style="width: 40%;"></span>
                </div>
            </div>
        </div>

        <h3 class="collapsible" style="background-color:indigo;">> Libraries</h3>
        <div class="skillset collapsible-content">
            <div class="skill">
                <h3>PyTorch</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>

            <div class="skill">
                <h3>Scikit-Learn</h3>
                <div class="skill-bar">
                    <span style="width: 100%;"></span>
                </div>
            </div>

            <div class="skill">
                <h3>Seaborn</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>
           
        </div>

        <h3 class="collapsible" style="background-color:indigo;">> Web Development</h3>
        <div class="skillset collapsible-content">
            <div class="skill">
                <h3>DJANGO</h3>
                <div class="skill-bar">
                    <span style="width: 60%;"></span>
                </div>
            </div>

            <div class="skill">
                <h3>HTML</h3>
                <div class="skill-bar">
                    <span style="width: 100%;"></span>
                </div>
            </div>

            <div class="skill">
                <h3>SQL</h3>
                <div class="skill-bar">
                    <span style="width: 80%;"></span>
                </div>
            </div>

            <div class="skill">
                <h3>CSS</h3>
                <div class="skill-bar">
                    <span style="width: 60%;"></span>
                </div>
            </div>

            <div class="skill">
                <h3>JS</h3>
                <div class="skill-bar">
                    <span style="width: 40%;"></span>
                </div>
            </div>
        </div>

    </div>
    
    <br>
    <hr>
    <br>

    <h2>Keywords</h2>
    <div class="keywords">
        <span class="badge badge-pill badge-dark" 
        style="background-color:darkgreen;">Bioinformatics&nbsp;</span>
        <span class="badge badge-pill badge-dark" 
        style="background-color:black;">Prediction&nbsp;</span>
        <span class="badge badge-pill badge-dark" 
        style="background-color:orange;">Proteome&nbsp;</span>
        <span class="badge badge-pill badge-dark" 
        style="background-color:indigo;">Metagenomics&nbsp;</span>
        <span class="badge badge-pill badge-dark" 
        style="background-color:darkgreen;">LLM&nbsp;</span>
        <span class="badge badge-pill badge-dark" 
        style="background-color:Crimson;">Discovery&nbsp;</span>
        <span class="badge badge-pill badge-dark" 
        style="background-color:green;">Function&nbsp;</span>
        <span class="badge badge-pill badge-dark" 
        style="background-color:black;">Annotation&nbsp;</span>
        <span class="badge badge-pill badge-dark" 
        style="background-color:Crimson;">Aggregation&nbsp;</span>
        <span class="badge badge-pill badge-dark" 
        style="background-color:brown;">Protein&nbsp;</span>
        
    </div>
   
    
</aside>