<aside class="skills-sidebar" style="max-width:300px;width:100%;background-color:#f1ece1;">

    <div class="sidebar-header" style="text-align:center;">
        <img class="rounded-circle" alt="R. Prabakaran" src="/assets/imgs/prof1.png" width="150">
        <h2 style="font-weight:bold;margin:14px 0 2px;">R. Prabakaran</h2>
        <p style="font-weight:bold;color:var(--primary);margin-bottom:12px;">Computational Biologist</p>
        {% include social.html %}
        <h5 style="color:var(--primary);margin-top:14px;">Postdoctoral Fellow, Emory University, USA</h5>
    </div>
    <hr>
    <br>
    <h2>Skillset</h2>
    <div class="">

        <h3 class="collapsible" style="">&#9660;  Machine learning</h3>
        <div class="skillset collapsible-content">
            <div class="skill-tags">
                <span class="skill-tag">Language modelling</span>
                <span class="skill-tag">Graph Neural Networks</span>
                <span class="skill-tag">Contrastive learning</span>
                <span class="skill-tag">Self Organizing Maps</span>
                <span class="skill-tag">Clustering</span>
                <span class="skill-tag">Non-linear modelling</span>
                <span class="skill-tag">Linear modelling</span>
            </div>
        </div>

        <h3 class="collapsible" style="">&#9660;  Libraries &amp; frameworks</h3>
        <div class="skillset collapsible-content">
            <div class="skill-tags">
                <span class="skill-tag">PyTorch</span>
                <span class="skill-tag">Scikit-Learn</span>
                <span class="skill-tag">JAX</span>
                <span class="skill-tag">Seaborn</span>
            </div>
        </div>

        <h3 class="collapsible" style="">&#9660;  Programming &amp; Scripting</h3>
        <div class="skillset collapsible-content">
            <div class="skill-tags">
                <span class="skill-tag">Python</span>
                <span class="skill-tag">C++</span>
                <span class="skill-tag">R</span>
                <span class="skill-tag">MATLAB</span>
                <span class="skill-tag">Perl</span>
            </div>
        </div>

        <h3 class="collapsible" style="">&#9660;  Molecular modelling tools</h3>
        <div class="skillset collapsible-content">
            <div class="skill-tags">
                <span class="skill-tag">GROMACS</span>
                <span class="skill-tag">AutoDock</span>
                <span class="skill-tag">PyMOL</span>
                <span class="skill-tag">VMD</span>
                <span class="skill-tag">Modeller</span>
            </div>
        </div>

        <h3 class="collapsible" style="">&#9660;  Web development</h3>
        <div class="skillset collapsible-content">
            <div class="skill-tags">
                <span class="skill-tag">HTML</span>
                <span class="skill-tag">SQL</span>
                <span class="skill-tag">Django</span>
                <span class="skill-tag">CSS</span>
                <span class="skill-tag">JavaScript</span>
            </div>
        </div>

    </div>

    <br>
    <hr>
    <br>

    <h2>Area of interest</h2>
    <div class="keywords">
        <span class="badge badge-pill badge-dark"
        style="background-color:darkgreen;">Functional Metagenomics&nbsp;</span>
        <span class="badge badge-pill badge-dark"
        style="background-color:darkgreen;">Mutagenesis&nbsp;</span>
        <span class="badge badge-pill badge-dark"
        style="background-color:black;">Molecular Evolution&nbsp;</span>
        <span class="badge badge-pill badge-dark"
        style="background-color:rgb(162, 116, 30);">Function Annotation&nbsp;</span>
        <span class="badge badge-pill badge-dark"
        style="background-color:rgb(53, 28, 136);">Proteome-wide Analysis&nbsp;</span>
        <span class="badge badge-pill badge-dark"
        style="background-color:rgb(6, 67, 6);">Biological Language Models&nbsp;</span>
        <span class="badge badge-pill badge-dark"
        style="background-color:rgb(81, 23, 34);">Discovery of novel function&nbsp;</span>
        <span class="badge badge-pill badge-dark"
        style="background-color:rgb(37, 64, 37);">Protein aggregation&nbsp;</span>
        <span class="badge badge-pill badge-dark"
        style="background-color:black;">Host-Microbe Interactions&nbsp;</span>
        <span class="badge badge-pill badge-dark"
        style="background-color:rgb(57, 7, 7);">System-level modelling&nbsp;</span>

    </div>


</aside>
