<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap"
    rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
    <link rel="apple-touch-icon" href="/assets/imgs/prof1.png">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <!-- custom -->
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    {% seo %}
</head>
<body>
    <!-- Header -->

    {% include banner.html %}

    <div class="container">
        <!-- Main Content -->
        <main class="main-content">
           {% include navbar.html %}

                {{content}}

        </main>

        {% include sidebar.html %}

    </div>

    <script src="/assets/script.js"></script>

</body>
</html>
